#
# Copyright (c) 2018 Synopsys, Inc. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_ARCHS_QEMU

choice
prompt "ARC HS Core Selection"
default SOC_ARCHS_QEMU_V2


config SOC_ARCHS_QEMU_V2
	bool "Synopsys ARC HS v2 of QEmu"
	select CPU_HAS_MPU

endchoice

endif #SOC_ARCHS_QEMU
