# Copyright (c) 2024 Synopsys, Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_NSIM_ARC_V_RHX
	bool
	select SOC_FAMILY_NSIM_ARC_V
	help
	  Synopsys ARC-V nSIM RHX series

config SOC_NSIM_ARC_V_RHX100
	bool
	select SOC_SERIES_NSIM_ARC_V_RHX
	help
	  Synopsys ARC-V nSIM RHX100 SoC

config SOC
	default "nsim_arc_v_rhx100" if SOC_NSIM_ARC_V_RHX100