# Copyright (c) 2024 Synopsys, Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_NSIM_ARC_V_RHX100

config NUM_IRQS
	default 32

# Enable all RISC-V ISA extensions for RHX100
config RISCV_ISA_EXT_M
	default y

config RISCV_ISA_EXT_A
	default y

config RISCV_ISA_EXT_C
	default y

config RISCV_ISA_EXT_D
	default y

config RISCV_ISA_EXT_F
	default y

config RISCV_ISA_EXT_ZICSR
	default y

config RISCV_ISA_EXT_ZIFENCEI
	default y

config RISCV_ISA_EXT_ZBA
	default y

config RISCV_ISA_EXT_ZBB
	default y

config RISCV_ISA_EXT_ZBC
	default y

config RISCV_ISA_EXT_ZBS
	default y

# Note: H, S, U extensions are privilege level extensions
# and other extensions like ZFH, ZICOND, ZICBOM, ZICBOP
# may need to be added to arch/riscv/Kconfig.isa if not already present

endif # SOC_NSIM_ARC_V_RHX100