# Secure firmware configuration options

# Copyright (c) 2020 Synopsys
# SPDX-License-Identifier: Apache-2.0

config SECURE_NUM_IRQ_PRIO_LEVELS
	int "the secure interrupt levels"
	range 1 14
	default 1
	help
	  The irq priority levels used by secure firmware. The secure irq
	  priority level is always higher than normal secure irq priority
	  level.

config NORMAL_SOFT_IRQ
	int "the normal helper interrupt no"
	range 18 256
	default 19
	help
	  This helper interrupt is used to raise possible thread switch
	  request when secure firmware returns to normal firmware by
	  secure interrupt.

config SECURE_SOFT_IRQ
	int "the secure helper interrupt no"
	depends on ARC_SECURE_FIRMWARE
	range 18 256
	default 18
	help
	  This helper interrupt is used to rasie thread switch request
	  from normal irq and nested secure irq.s

config NORMAL_NUM_MPU_ENTRIES
	int "the mpu entires reserved for normal firmware"
	range 1 16
	default 8
	help
	  The MPU entires reserved for normal firmware. Secure firmware's
	  mpu request has higher priority, so the final allocated num may
	  be less than the configured one.
