/dts-v1/;

#include "skeleton.dtsi"

/ {

	model = "qemu_archs";
	compatible = "qemu,archs";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "snps,archs";
			reg = <1>;
		};

	intc: arcv2-intc {
			compatible = "snps,arcv2-intc";
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	flash0: flash@0 {
		compatible = "soc-nv-flash";
		reg = <0x0 (256*1024)>;
	};

	sram0: sram@40000 {
		device_type = "memory";
		compatible = "mmio-sram";
		reg = <0x40000 (256*1024)>;
	};

	ns16550_uart: uart@90000000 {
		compatible = "ns16550";
		clock-frequency = <10000000>;
		reg = <0x90000000 0x400>;
		current-speed = <115200>;
		label = "UART_0";
		interrupt-parent = <&intc>;
		interrupts = <20 1>;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &ns16550_uart;
		zephyr,shell-uart = &ns16550_uart;
	};
};
