# Copyright (c) 2024 Synopsys, Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_NSIM_ARC_V
	select SOC_RMX100 if BOARD_NSIM_ARC_V_RMX100
	select CPU_HAS_FPU   
	select CPU_HAS_FPU_DOUBLE_PRECISION
	
config BOARD_NSIM_ARC_V_RHX100
	select SOC_NSIM_ARC_V_RHX100
	select CPU_HAS_FPU
	select CPU_HAS_FPU_DOUBLE_PRECISION