/dts-v1/;

#include "rhx100.dtsi"

/ {
	model = "Synopsys RHX100";
	compatible = "snps,rhx100";

	chosen {
		zephyr,flash = &iccm0;
		zephyr,sram = &dccm0;
		zephyr,code-partition = &iccm0;
	};

	/* Instruction/Data Closely Coupled Memories */
	iccm0: iccm@50000000 {
		compatible = "mmio-sram";
		device_type = "memory";
		reg = <0x50000000 0x00080000>; /* 512 KB ICCM */
		status = "okay";
	};

	dccm0: dccm@50200000 {
		compatible = "mmio-sram";
		device_type = "memory";
		reg = <0x50200000 0x00100000>; /* 1 MB DCCM */
		status = "okay";
	};
};
