/dts-v1/;

#include "rhx100.dtsi"

/ {
	model = "Synopsys RHX100";
	compatible = "snps,rhx100";

	chosen {
		zephyr,flash = &iccm0;
		zephyr,sram = &dccm0;
		zephyr,code-partition = &iccm0;
		/* No console - using semihosting */
	};
};

/* Ensure CCM memories are used for linker */
&iccm0 {
	status = "okay";
};

&dccm0 {
	status = "okay";
};
