# Copyright (c) 2024 Synopsys, Inc.
# SPDX-License-Identifier: Apache-2.0

CONFIG_XIP=y
CONFIG_CONSOLE=y
CONFIG_SEMIHOST=y
CONFIG_SEMIHOST_CONSOLE=y
CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_INCLUDE_RESET_VECTOR=y
CONFIG_LOG=y
