#include "rhx1xx.dtsi"

/ {

	/* Instruction/Data Closely Coupled Memories */
	iccm0: iccm@10000000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		zephyr,memory-region = "FLASH";
		zephyr,memory-region-flags = "rx";
		reg = <0x10000000 0x00080000>;
	};

	dccm0: dccm@01200000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		zephyr,memory-region = "SRAM";
		zephyr,memory-region-flags = "rw";
		reg = <0x01200000 0x00100000>;
	};
};
