#include "rmx1xx.dtsi"

/ {
	iccm0: memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x80000>; /* 512 KB ICCM */
	};
	
	dccm0: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000>; /* 512 KB DCCM */
	};
};
